
<aside class="sidebar" [class.open]="isSidebarOpen">
  <div class="logo">
    <h2>Profile</h2>
  </div>
  <ul class="nav-links">
    <li><a routerLink="/employee-dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
    <li><a routerLink="/checkIn"><i class="fas fa-clock"></i> Check-in/Check-out</a></li>
    <li><a routerLink="/employee-leave-form"><i class="fas fa-calendar-alt"></i> Leave Requests</a></li>
    <li><a routerLink="/add-employee"><i class="fas fa-user-plus"></i> Add Employee</a></li>
    <li><a routerLink="/payroll"><i class="fas fa-money-bill"></i> Payroll Management</a></li>

  </ul>
</aside>
