.leave-container {
  max-width: 900px;
  margin: auto;
}

mat-table {
  width: 100%;
  margin-top: 20px;
}

mat-header-cell, mat-cell {
  padding: 12px;
}

.approved {
  color: green;
  font-weight: bold;
}

.rejected {
  color: red;
  font-weight: bold;
}

button {
  margin-right: 5px;
}
