.header, .footer {
  padding: 10px 20px;
  font-size: 16px;
}

.logo {
  font-weight: bold;
  font-size: 18px;
  margin-left: 8px;
}

.nav-links .nav-item {
  font-weight: 500;
  color: white;
}

.logout-btn {
  color: white;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.social-icons mat-icon {
  color: white;
  margin-left: 8px;
}
