<h2>Employee Dashboard</h2>

<!-- Check-in/Check-out Buttons -->
<button (click)="checkIn()" [disabled]="isCheckedIn">Check In</button>
<button (click)="checkOut()" [disabled]="!isCheckedIn">Check Out</button>


<h3>Request Leave</h3>
<form #leaveForm="ngForm" (ngSubmit)="submitLeaveRequest()">
  <label for="employeeId">Employee ID</label>
  <input 
    type="text"
    id="employeeId" 
    name="employeeId" 
    [(ngModel)]="newLeaveRequest.employeeId" 
    placeholder="Employee ID " 
   
  />

  <label for="reason">Leave Reason</label>
  <input 
    type="text" 
    id="reason" 
    name="reason" 
    [(ngModel)]="newLeaveRequest.reason" 
    placeholder="Enter Leave Reason" 
    required 
    #reason="ngModel"
  />
  <div *ngIf="reason.invalid && reason.touched" class="error">
    Leave reason is required.
  </div>

  <label for="date">Leave Date</label>
  <input 
    type="date" 
    id="date" 
    name="date" 
    [(ngModel)]="newLeaveRequest.date" 
    required 
    #date="ngModel"
  />
  <div *ngIf="date.invalid && date.touched" class="error">
    Leave date is required.
  </div>

  <button type="submit" [disabled]="leaveForm.invalid">Submit Leave Request</button>
</form> 
