 <div class="dashboard-container">
 
    
    <app-side-bar></app-side-bar> 
    


  <div class="dashboard-main">
    <div class="dashboard-header">
      <h2>Welcome, {{ authService.userName }}</h2>
      <p>Employee ID: {{ authService.userEmail }}</p>
    </div>

   
    <div class="dashboard-content">
      <div class="card" routerLink="/checkIn">
        <i class="fas fa-clock"></i>
        <h3>Check-in/Check-out</h3>
      </div>

      
      <div class="card" routerLink="/employee-leave-form">
        <i class="fas fa-calendar-alt"></i>
        <h3>Leave Request</h3>
      </div>

      <div class="card" routerLink="/add-employee">
        <i class="fas fa-user-plus"></i>
        <h3>Add Employee</h3>
      </div>
    </div>
  </div>
</div> 

 