<mat-toolbar color="primary" class="header">
  @if (authService.isLoggedIn) {
   <button class="back-button" (click)="goBack()">
     <mat-icon>arrow_back</mat-icon>
   </button>
 }@else {
   <span class="logo">Welcome</span>
 }
   @if (!authService.isLoggedIn) {
     <span class="logo">Employee Management System</span>
   }@else {
     @if (authService.isAdmin) {
       <span class="logo">Admin Dashboard</span>
     } @else {
       <span class="logo">Employee Dashboard</span>
     }
     <span class="spacer"></span>
   }
  
 
   <nav class="nav-links">
     <div class="profile">
       <a routerLink="/sidebar">{{ authService.userName }}</a>
 
       @if (authService.isLoggedIn) {
         <a (click)="logout()" class="cursor-pointer">Logout</a>
       } @else {
         <a routerLink="/login" class="cursor-pointer">Log In</a>
         <a routerLink="/register" class="cursor-pointer">Register</a>
       }
     </div>
   </nav>
 </mat-toolbar>