<div class="dashboard-container">
    <mat-toolbar color="primary">
      <span>Admin Dashboard</span>
      <span class="spacer"></span>
      <button mat-button (click)="logout()">Logout</button>
    </mat-toolbar>
  
    <div class="content">
      <div class="actions">
        <button mat-raised-button color="primary" routerLink="/admin/employees/add">
          Add New Employee
        </button>

       
      </div>
      <div>
        <button routerLink="/employee-list">List Employees</button>
      </div>
    </div>
  </div>