<div>
  <button (click)="getSeller()">List Employees</button>
</div>

<div class="row">
  <div class="col-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>DOB</th>
          <th>Address</th>
          <th>Department</th>
          <th>Graduation</th>
          <th>Mob No</th>
          <th>Designation</th>
          <th>Salary</th>
          <th>Joining Date</th>
          <th>Documents</th>
          <th>View Documents</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of employeeList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.dob }}</td>
          <td>{{ item.address }}</td>
          <td>{{ item.deptName }}</td>
          <td>{{ item.graduation }}</td>
          <td>{{ item.mobNo }}</td>
          <td>{{ item.designation }}</td>
          <td>{{ item.salary }}</td>
          <td>{{ item.joiningDate }}</td>

          <!-- <td>
            <p *ngIf="item.marksheet">Marksheet: {{ item.marksheet }}</p>
            <p *ngIf="item.resume">Resume: {{ item.resume }}</p>
          </td> -->
<!-- 
          <td>
            <a *ngIf="item.marksheet" [href]="'http://localhost:3000/uploads/' + item.marksheet" download>Download Marksheet</a>
            <a *ngIf="item.resume" [href]="'http://localhost:3000/uploads/' + item.resume" download>Download Resume</a>
          </td>
           -->
          <td>
            <button *ngIf="item.marksheet" (click)="viewDocument(item.marksheet)">View Marksheet</button>
            <button *ngIf="item.resume" (click)="viewDocument(item.resume)">View Resume</button>
          </td>

          <td>
            <button (click)="onEdit(item)">Edit</button>
            <button (click)="onDelete(item._id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
