<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" position="end" class="profile-sidenav">
    <div class="sidebar-content">
      <h2 class="profile-heading">Profile</h2>
      <div class="profile-info"><strong>Name:</strong> {{ authService.userName }}</div>
      <div class="profile-info"><strong>Email:</strong> {{ authService.userEmail }}</div>
      <button mat-raised-button color="primary" routerLink="/add-employee">Add New Employee</button>
      <button mat-button color="warn" (click)="closeSidebar()">Close</button>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
