<div class="container">
  <h5>Employee Register</h5>
  <input type="text" [(ngModel)]="employee.name" placeholder="Name" class="form-control">
  <input type="email" [(ngModel)]="employee.email" placeholder="Email" class="form-control">
  <input type="number" [(ngModel)]="employee.mobNo" placeholder="Mobile No" class="form-control">
  <input type="text" [(ngModel)]="employee.deptName" placeholder="Department Name" class="form-control">
  <input type="text" [(ngModel)]="employee.address" placeholder="Address" class="form-control">
  <input type="date" [(ngModel)]="employee.dob" placeholder="DOB" class="form-control">
  <input type="text" [(ngModel)]="employee.graduation" placeholder="Graduation" class="form-control">
  <input type="text" [(ngModel)]="employee.designation" placeholder="Designation" class="form-control">
  <input type="text" [(ngModel)]="employee.salary" placeholder="Salary" class="form-control">
  <input type="date" [(ngModel)]="employee.joiningDate" placeholder="Joining Date" class="form-control">

  <label>SSC Marksheet</label>
  <input type="file" (change)="onFileSelected($event, 'marksheet')" class="form-control">
  
  <label>Resume</label>
  <input type="file" (change)="onFileSelected($event, 'resume')" class="form-control">

  <button (click)="onSaveEmployee()" class="btn btn-primary">Add Employee</button>
</div>
